body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px;
}

@media (max-width: 600px) {
    body {
        margin: 10px;
    }
}
a {
    color: #0C1A7F;
}

a:hover {
    color: #33bbdf;
}

img {
    max-width: 100%;
    height: auto;
}
header, footer, div.page {
    margin: 0 auto;
    background: #e6d8e8;
    padding: 20px 30px;
}
@media (max-width: 600px) {
    div.page {
        padding: 10px 10px;
    }
}


header h1 {
    color: #0C1A7F;
    margin: 0;
    font-weight: normal;
    font-size: 42px;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 8px 0 0;
    padding: 0;
}

div.page {
    background: #ffffff;
}
